/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

/* global style */

body{
    font-family: 'Poppins', sans-serif !important; 
}

/* hero section style */

.bg-color{
    background-color: #264653;
}
.paragraph-color{
    color: #E0E0E0;
}

/* Fetured Bikes section style */

.sub-heading-color{
    color: #E76F51;
}
.bike-grayscale{
    filter: grayscale(100%);
}

/* client review section style */

.rating-color{
    color: #E77C40;
}

/* best collection section style */

.carousel-bg{
    background-color: #383535;
}